<nav #navbar>
  <div class="content">
    <a class="logo" routerLink="/">
      <img src="assets/images/logo.png" alt="logo" />
    </a>

    <div class="menu">
      <a mat-button routerLink="/text" routerLinkActive="active">
        <i icon="text"> </i>
      </a>

      <a mat-button routerLink="/image" routerLinkActive="active">
        <i icon="image"> </i>
      </a>

      <a mat-button routerLink="/color" routerLinkActive="active">
        <i icon="color"> </i>
      </a>
    </div>
  </div>
</nav>

<div>
  <router-outlet #outlet="outlet"></router-outlet>
</div>
