@import 'src/styles/media';
@import 'src/styles/_variables.scss';

/*
  ! Navbar
  ! Se for usar configurações de CSS simples
  ? ex: padding, bg e color
  ! Use as variáveis de ambiente no arquivo:
  * src/styles/_variables.scss

  ! Obrigado :) - Noclaf Tech
*/

nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: var(--width);
  max-width: var(--max-width);
  margin: 0.5rem auto;
  background: var(--nav-bg);
  border-radius: 100px;
  padding: var(--nav-padding);
  box-shadow: var(--nav-shadow);
  transition: var(--ts);
  @include glass-effect();
  z-index: 50;

  .content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: inherit;
    padding: 0.2rem 0;
    gap: 0.8rem;

    @include media('<=navbar-collapse') {
      flex-wrap: wrap;
    }

    .logo {
      grid-area: logo;
      display: flex;
      gap: 10px;
      align-items: center;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2rem !important;

      img {
        height: var(--nav-logo-h);
        object-fit: contain;
      }
    }

    .menu {
      transition: all 0.2s;
      grid-area: menu;
      overflow: hidden;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      a,
      button {
        color: rgba(255, 255, 255, 0.505);
        i {
          font-size: 1.5rem;
        }

        &.active {
          color: #ffffff;
        }
      }
    }
  }
}
