<nav></nav>

<section>
  <form (ngSubmit)="loginSubmitHandler($event)" [formGroup]="form">
    <div class="card-input">
      <textarea
        title="text"
        type="text"
        id="text"
        rows="10"
        formControlName="input"
        style="resize: none"
      ></textarea>
    </div>

    <button mat-button type="submit" class="primary">MAIÚSCULO</button>
    <button mat-button type="submit" class="primary">minusculo</button>
    <button mat-button type="submit" class="primary">Inverter</button>
    <button mat-button type="submit" class="primary">Primeira Letra</button>
    <button mat-button type="submit" class="primary">Primeira palavra</button>
  </form>
</section>
