<section>

  <div class="circle">
    <div class="border-circle"></div>
    <div class="border-circle"></div>

    <div class="date">
      <h5> {{ (today | async) | date: 'dd'}} </h5>
      <h5> {{ (today | async) | date: 'MMM'}} </h5>
    </div>

    <div class="time">
      <h1> {{ (today | async) | date: 'HH'}} </h1>
      <h1>:</h1>
      <h1> {{ (today | async) | date: 'mm'}} </h1>
      <h1>:</h1>
      <h1> {{ (today | async) | date: 'ss'}} </h1>
    </div>

    <h5 class="week"> {{ (today | async) | date: 'EEE'}} </h5>
    <!-- <div class="shodow"></div> -->
  </div>
</section>