<section>
  <a routerLink="qrcode" class="card-router">
    <figure>
      <img src="../../../assets/images/qrcode.jpg" alt="" />
    </figure>
    <h1>Gerador de QRCode</h1>
  </a>

  <a routerLink="base64" class="card-router">
    <figure>
      <img src="../../../assets/images/base64.png" alt="" />
    </figure>
    <h1>Conversor Base64</h1>
  </a>

  <a routerLink="convert" class="card-router">
    <figure>
      <img src="../../../assets/images/convert.png" alt="" />
    </figure>
    <h1>Converter Imagem</h1>
  </a>
</section>
