section {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  .card-router {
    width: 250px;
    background: rgb(25, 61, 219);
    background: linear-gradient(
      127deg,
      rgba(25, 61, 219, 1) 0%,
      rgba(31, 81, 225, 1) 100%
    );
    border-radius: 8px 8px 25px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    text-decoration: auto;

    figure {
      width: 80%;
      display: flex;
      aspect-ratio: 1/1;
      transform: rotate(-15deg) translateY(-30px) translateX(10px);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 20px;
      }
    }

    h1 {
      color: white;
      text-decoration: dashed;
      text-align: center;
    }
  }
}
